#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  background-color: black;
  height: 20px;
}

header {
  background-color: black;
  padding: 2rem 0;
  text-align: center;
}
header > a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}
header > a:hover {
  text-decoration: underline;
}

.container {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.loading {
  font-size: 20px;
  font-weight: bold;
  color: #007bff; /* синий цвет */
}

.error {
  font-size: 20px;
  font-weight: bold;
  color: #dc3545; /* красный цвет */
}

.products-list {
  list-style-type: none;
  padding: 0;
}

.product-item {
  margin-bottom: 20px;
}

.product-name {
  font-size: 24px;
  font-weight: bold;
}

.brand {
  font-size: 18px;
  font-style: italic;
  color: #666; /* серый цвет */
}

.price {
  font-size: 20px;
  color: #28a745; /* зеленый цвет */
}

.pagination {
  margin-top: 20px;
}

.pagination-btn {
  font-size: 16px;
  padding: 10px 20px;
  margin-right: 10px;
  border: 1px solid #007bff; /* синий цвет */
  border-radius: 5px;
  background-color: #007bff;
  color: #fff; /* белый цвет */
  cursor: pointer;
}

.pagination-btn:hover {
  background-color: #0056b3; /* более темный синий цвет при наведении */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
